@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/* 
overflow: auto; 
If overflow is clipped, a scroll-bar should be added to see the rest of the content
#E5DEEC
#ECDEEC
#ECDEE5
#ECDEDE
#ECE5DE
#ECECDE
*/
/*
   Hide the scroll bar
*/
body {overflow:hidden;}

.profileDiv {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    overflow: hidden; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    min-width: 230px;
    max-width: 340px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    text-align: center;
    border-bottom: #777;
    border-top: #777;
    border-style: double;
    background-color: #f2f2f2;
}

.profileText {
    color: black;
}

.profilePic {
    border-radius: 50%;
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
    margin: auto;
    position: relative;

}

.profilePicWrapper {
    margin: auto;
    width: 100px;
    height: 100px;
    align-content: center;

}

.profilePicDiv {
    text-align: center;
    padding: 10px;
}

.findANetworkDiv {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    color: black;
}

.editTextBoxes {
    text-align: center;
    font-family: inherit;
}

.inputTextBoxStyle {
    text-align: center;
    background-color: #ECF0F1;
    color: black;
    width: inherit;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    margin: 3px 0 3px 0;

    transition: border .5s;
    box-sizing: border-box;
}

.inputTextBoxStyle.displayName {
    padding: 2px 4px;
}

.loginButton {
    text-align: center;
    background-color: #6c8b93;
    color: white;
    width: inherit;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 70%;
    transition: border .5s;
    box-sizing: border-box;
    min-width: 230px;
    max-width: 340px;
}

.loginButton:hover {
    background-color: #4c6167;
}

.profileIcons {
    margin: 2px;
}

/*
// Hide the file input for picture uploads 
// and replace it with a styled label
// Overrite classes used by PrimeFaces to style to p:fileInput element
*/

.ui-button-icon-left {
    
}
.ui-icon ui-c {
    
}
.ui-icon-plusthick {
    
}
/*
input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
*/

.ui-fileupload-buttonbar {
    background: transparent none;
    border: none;
}

.ui-fileupload-content {
    display: none;
}

.ui-fileupload-buttonbar .ui-fileupload-choose {
    background-color: rgba(142, 103, 64, 0.98);
}

.ui-button {
    font-family: inherit;
    font-weight: 500;
    background-color: #E5DEEC;
    color: black;
    padding: 1px 6px 1px 0;
  
    margin: 0 2px 0 2px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
}

.ui-button:hover {
    background-color: transparent;
}

.ui-button-text-icon-left .ui-button-text {
    padding: 1px 6px 1px 0;
    background-color: #E5DEEC;
    width: 120px;
}

.labelAsButton {
    font-family: inherit;
    font-weight: 500;
    background-color: #E5DEEC;
    color: black;
    padding: 1px 6px;
    border: transparent;
    margin: 0 2px 0 2px;
    border-radius: 4px;
    width: fit-content;
    height: 24px;
}

.labelAsButton:hover {
    background-color: #d9cee3;
}

/* 
// Remove the default icon from the fileInput
*/
.ui-icon {
    display: none;
    width: 0px;
    height: 0px;
}
.ui-state-default .ui-icon {
    background-image: none;
}
.ui-widget-content {
    background-color: #f2f2f2;
}
 